<div class="display-table">
    <div class="display-table-cell">
        <div class="login-page-link">
            <a class="login-page-link-home" routerLink="/">
                <mat-icon>first_page</mat-icon> Homepage
            </a>
        </div>
        <div class="auth-block">
            <h2>Reset Password</h2>
            <form [formGroup]="resetForm">
                <mat-form-field>
                    <mat-label>Please enter your email address</mat-label>
                    <input matInput formControlName="email" />
                </mat-form-field>
                <button type="submit" class="btn" [disabled]="resetForm.invalid"
                    (click)="auth.resetPassword(resetForm.value)">
                    Reset Password
                </button>
            </form>
        </div>
        <div class="redirect-to-login-page">
            <span>Go back to ?
                <span class="redirect" routerLink="/login">Log In</span></span>
        </div>
    </div>
</div>