@import "src/app/styles/components/mixins.scss";

.display-table {
  @include fixed-element;
  @include container;
  @include center-element;
  @include bg-image(url(../../..//assets/registration-background.jpg));
  background-color: rgba(48, 46, 46, 0.5);
  background-color: #000;
  z-index: 130;
  &-cell {
    width: 500px;
    background-color: #000;
    padding: 50px;
  }
}

.auth-block {
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}

.redirect-to-login-page {
    margin-top: 10px;
}

.redirect {
    cursor: pointer;
}